In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt", header=None, sep="\s+", comment="#")

In [4]:
df.columns=['year','month','decimal','average',"interpolated",'trend','days']

In [5]:
df_select=df[['year','month','average']]

In [6]:
df_select.columns=['year','month','CO2']

In [11]:
for i,row in df_select.iterrows():
    if row['CO2']==-99.99:
        df_select.loc[i,'CO2']=np.nan

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
df_select

     year  month     CO2  Day
0    1958      3  315.71   15
1    1958      4  317.45   15
2    1958      5  317.50   15
3    1958      6     NaN   15
4    1958      7  315.86   15
5    1958      8  314.93   15
6    1958      9  313.20   15
7    1958     10     NaN   15
8    1958     11  313.33   15
9    1958     12  314.67   15
10   1959      1  315.62   15
11   1959      2  316.38   15
12   1959      3  316.71   15
13   1959      4  317.72   15
14   1959      5  318.29   15
15   1959      6  318.15   15
16   1959      7  316.54   15
17   1959      8  314.80   15
18   1959      9  313.84   15
19   1959     10  313.26   15
20   1959     11  314.80   15
21   1959     12  315.58   15
22   1960      1  316.43   15
23   1960      2  316.97   15
24   1960      3  317.58   15
25   1960      4  319.02   15
26   1960      5  320.03   15
27   1960      6  319.59   15
28   1960      7  318.18   15
29   1960      8  315.91   15
..    ...    ...     ...  ...
706  2017      1  406.17   15
707  2017      2  406.46   15
708  2017      3  407.22   15
709  2017      4  409.04   15
710  2017      5  409.69   15
711  2017      6  408.88   15
712  2017      7  407.12   15
713  2017      8  405.13   15
714  2017      9  403.37   15
715  2017     10  403.63   15
716  2017     11  405.12   15
717  2017     12  406.81   15
718  2018      1  407.96   15
719  2018      2  408.32   15
720  2018      3  409.41   15
721  2018      4  410.24   15
722  2018      5  411.23   15
723  2018      6  410.79   15
724  2018      7  408.71   15
725  2018      8  406.99   15
726  2018      9  405.51   15
727  2018     10  406.00   15
728  2018     11  408.02   15
729  2018     12  409.07   15
730  2019      1  410.83   15
731  2019      2  411.75   15
732  2019      3  411.97   15
733  2019      4  413.32   15
734  2019      5  414.66   15
735  2019      6  413.92   15

[736 rows x 4 columns]

In [9]:
df_select['Day']=15

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df_select['Datetime']=pd.to_datetime(dict(year=df_select.year, month=df_select.month, day=df_select.Day))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_select.drop('Day',axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [18]:
df_select

     year  month     CO2   Datetime
0    1958      3  315.71 1958-03-15
1    1958      4  317.45 1958-04-15
2    1958      5  317.50 1958-05-15
3    1958      6     NaN 1958-06-15
4    1958      7  315.86 1958-07-15
5    1958      8  314.93 1958-08-15
6    1958      9  313.20 1958-09-15
7    1958     10     NaN 1958-10-15
8    1958     11  313.33 1958-11-15
9    1958     12  314.67 1958-12-15
10   1959      1  315.62 1959-01-15
11   1959      2  316.38 1959-02-15
12   1959      3  316.71 1959-03-15
13   1959      4  317.72 1959-04-15
14   1959      5  318.29 1959-05-15
15   1959      6  318.15 1959-06-15
16   1959      7  316.54 1959-07-15
17   1959      8  314.80 1959-08-15
18   1959      9  313.84 1959-09-15
19   1959     10  313.26 1959-10-15
20   1959     11  314.80 1959-11-15
21   1959     12  315.58 1959-12-15
22   1960      1  316.43 1960-01-15
23   1960      2  316.97 1960-02-15
24   1960      3  317.58 1960-03-15
25   1960      4  319.02 1960-04-15
26   1960      5  320.03 1960-05-15
27   1960      6  319.59 1960-06-15
28   1960      7  318.18 1960-07-15
29   1960      8  315.91 1960-08-15
..    ...    ...     ...        ...
706  2017      1  406.17 2017-01-15
707  2017      2  406.46 2017-02-15
708  2017      3  407.22 2017-03-15
709  2017      4  409.04 2017-04-15
710  2017      5  409.69 2017-05-15
711  2017      6  408.88 2017-06-15
712  2017      7  407.12 2017-07-15
713  2017      8  405.13 2017-08-15
714  2017      9  403.37 2017-09-15
715  2017     10  403.63 2017-10-15
716  2017     11  405.12 2017-11-15
717  2017     12  406.81 2017-12-15
718  2018      1  407.96 2018-01-15
719  2018      2  408.32 2018-02-15
720  2018      3  409.41 2018-03-15
721  2018      4  410.24 2018-04-15
722  2018      5  411.23 2018-05-15
723  2018      6  410.79 2018-06-15
724  2018      7  408.71 2018-07-15
725  2018      8  406.99 2018-08-15
726  2018      9  405.51 2018-09-15
727  2018     10  406.00 2018-10-15
728  2018     11  408.02 2018-11-15
729  2018     12  409.07 2018-12-15
730  2019      1  410.83 2019-01-15
731  2019      2  411.75 2019-02-15
732  2019      3  411.97 2019-03-15
733  2019      4  413.32 2019-04-15
734  2019      5  414.66 2019-05-15
735  2019      6  413.92 2019-06-15

[736 rows x 4 columns]

In [19]:
a=[1,2,3]
b=a.pop()

In [20]:
b

3

In [21]:
a

[1, 2]